.listContainer {
  margin: 2rem auto;
  width: 90vw;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
.activity {
  display: flex;
  gap: 1rem 2rem;
  max-width: 50rem;
  margin: 2rem;
}
.photo img {
  object-fit: cover;
  height: inherit;
  width: 170px;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
  display: block;
}
.activityInfo header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
  margin-left: 0rem;
}
.activityInfo h4 {
  margin-bottom: 0.5rem;
  color: var(--clr-primary-2);
  font-size: large;
}
.activityText {
  margin-bottom: 0;
  margin-left: 0rem;
  padding-top: 1rem;
  text-align: left;
  text-indent: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .listContainer {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .listContainer {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
    min-width: fit-content;
  }
  .photo {
    height: 150px;
  }
}
.verMas {
  margin-top: 0.5rem;
}
.btnContainer {
  display: grid;
  margin: auto;
}
.btnSub {
  margin: 0.4rem auto;
}
