.heroSection {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  color: var(--clr-primary-2);
}
.heroTxt {
  margin-left: 8rem;
}
.heroTxt h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-style: italic;
  color: var(--clr-black);
}
.heroTxt p {
  font-style: auto;
}
.heroImg {
  margin-right: 10rem;
}

/*Services Section*/
.serviceTitle {
  font-weight: bold;
  font-size: 2.5rem;
}
.servicesSection {
  color: var(--clr-black);
  background-color: rgba(219, 210, 210, 0.432);
}
.servicesContainer {
  display: flex;
  margin: auto 8rem;
  justify-content: space-between;
}
.services {
  margin: 4rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  list-style-type: circle;
}
.services li {
  font-size: 1.3rem;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
  font-weight: 500;
  color: var(--clr-primary-2);
  font-style: oblique;
  font-weight: bolder;
}
.servicesContainer img {
  width: fit-content;
  justify-content: left;
  margin-left: 1rem;
  margin-bottom: 4rem;
}
